<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
</head>
{% block body %}
<form action={{url_for('send_login_data')}} method="POST"> 
    <h2 class="dark-grey" style="text-align: left; padding-left: 3em"> Log in </h2>
    <div class="col-md-3">
        <br/>
        
        <div class="form-group col-lg-12">
            <label>User Name</label>
            <input type="text" name="uname" class="form-control">
        </div>
        
        <div class="form-group col-lg-12">
            <label>Password</label>
            <input type="password" name="passsword" class="form-control">
        </div>
        <br/>
        <br/>

        <div class="form-group col-lg-6" style="padding-left:8em;">
            <input type="submit" name="submit" class="btn btn-primary" id="" value="submit">
        </div>
    </div>
</form>
{% endblock %}
</html>
